<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94406082744-qirb14c2f6vut40129l1ejsqlgkvpg7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94406082744-qirb14c2f6vut40129l1ejsqlgkvpg7d</string>
	<key>API_KEY</key>
	<string>AIzaSyD_8qDBxVyAWs6Tgez6nNg-iI5vwOR3LoY</string>
	<key>GCM_SENDER_ID</key>
	<string>94406082744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tikTokApp</string>
	<key>PROJECT_ID</key>
	<string>tiktokapp-a7890</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokapp-a7890.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94406082744:ios:b204369fb69ddf1dd6f44d</string>
</dict>
</plist>